<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
    </appender>
    <appender name="serviceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/filegw/service.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/logs/filegw/otherdays/service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>104857600</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder>
            <!--<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p [%t %X{sourceThread}][%X{akkaSource}] %logger{0} - %m%n</pattern>-->
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p [%t][%X{akkaSource}] %logger{0} - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.hrocloud.tiangong.filegw" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="serviceAppender"/>
    </logger>

    <logger name="spray" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="serviceAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="serviceAppender"/>
    </root>

</configuration>